.wrap {
  position: relative;
  display: block;

  &.withLabel {
    padding-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

.label {
  @extend %label;

  display: inline-block;
  position: absolute;
  top: 0;
}

.select {
  height: $inputHeight;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  padding: $inputPadding;
  background: #fff;
  border: $inputBorder;
  border-radius: $inputBorderRadius;
  outline: none;
  color: $inputColor;
  transition: border-color 0.2s;

  &:focus {
    border-color: color.mix($primaryColor, $inputBorderColor, $weight: 33%);
  }

  &.placeholder {
    color: $inputPlaceholderColor;
  }

  &.withClickable {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }

  option {
    color: $inputColor;
  }
}
