.wrap {
  margin-bottom: 1.5rem;
  white-space: nowrap;
  cursor: pointer;
}

.switch {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 36px;
}

.input {
  visibility: hidden;
}

.bg {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 36px;
  height: 14px;
  background-color: #ddd;
  border-radius: 14px;
  z-index: 1;
  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.circle {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #bbb;
  border-radius: 14px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  z-index: 2;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: left, background-color;
}

.input:checked + .bg {
  background-color: $fadedPrimaryColorBg;

  + .circle {
    left: 16px;
    background-color: $primaryColor;
  }
}

.label {
  @extend %label;

  margin-left: 8px;
}
