<!doctype html>
<html lang="en">
<head>
<style>
body {
  padding: 20px;
  text-align: center;
  color: #333;
  font-family: helvetica, sans-serif;
}
h1 {
  font-size: 22px;
}
a {
  text-decoration: none;
  color: #2196f3;
}
</style>

<%- include('partials/metaTags') %>
</head>
<body>
  <h1>Service temporarily unavailable</h1>
  <p id="paragraph">You can try to <a href="#" id="reload">reload</a> the page or restart the app.</p>

<script>
document.getElementById('reload')
  .addEventListener('click', () => {
    document.getElementById('paragraph').textContent = 'Reloading...';
    setTimeout(() => {
      window.location.reload(true);
    }, 400);
});
</script>
</body>
</html>
