.container {
  @extend %hideScrollbar;

  overflow-x: auto;
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  touch-action: pan-x;
  transform: translateZ(0);
}

.containerInner {
  display: flex;
  flex-wrap: nowrap;

  > * {
    flex-shrink: 0;
  }
}
