.container {
  display: block;
}

.withLabel {
  padding-top: 25px;
  position: relative;
}

.label {
  @extend %label;

  display: inline-block;
  position: absolute;
  top: 0;
}

.mediaWrap {
  position: relative;
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  height: 18px;
  width: 18px;
  opacity: 0.6;

  svg {
    height: 18px;
    width: 18px;
    fill: #fff;
  }
}
