.filters {
  display: flex;
}

.filter {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  padding: 5px;
  font-size: 0.9em;
  color: $lightTextColor;
  transition: color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-child {
    padding-left: $containerPadLeftRight;
  }

  &:last-child {
    padding-right: $containerPadLeftRight;
  }

  svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: $fadedTextColor;
    transition: fill 0.2s;
  }
}

.filterActive {
  color: $textColor;

  svg {
    fill: $primaryColor;
  }
}

.label {
  padding-left: 4px;
}

.options {
  height: 0;
  overflow: hidden;
  transition: opacity 0.4s;
  opacity: 0;
}

.optionsShown {
  opacity: 1;
}

.option {
  padding: 10px $containerPadLeftRight;
  color: $lightTextColor;
  font-size: 0.9em;
}

.optionActive {
  color: $textColor;
  font-weight: 500;
}
