# NPM
node_modules
npm-debug.log
yarn-error.log
package-lock.json
/.yarn/*
!/.yarn/patches
!/.yarn/versions
/.pnp.*

# Git
.git/
.git-framework/

# Build
/build
/dist
/build.*
/server.tar.gz

# Generated
/stats.json
/isolate-*.log
*.tsbuildinfo

# OS
.DS_Store
*:Zone.Identifier

# IDE
.idea/
.vscode/

# Misc
.ipynb_checkpoints
.eslintcache
/*.gpg
/*.zip
*.pepk
*.jks
/backups
/temp
/tmp
/tmp.*
/*.dump

# Framework
/env/env.dev
/capacitor/android/app/src/main/assets/
/framework/infra/kafka-connectors/**/target/
/framework/tests/fixtures/auth.json
/app/tests/screenshots/
/app/tests/vide
# App-specific
/.git-crypt/*
/env/*
!/env/env-template
!/env/secrets-template
/.sentryclirc
/app/
/capacitor/android/
/capacitor/ios/
/capacitor/resources/
/capacitor/app-store/
__generated__
