# NPM
node_modules
npm-debug.log
yarn-error.log
package-lock.json
/.yarn/*
!/.yarn/patches
!/.yarn/versions
/.pnp.*

# Git
.git/
.git-framework/
.gitignore-temp

# Build
/build
/dist
/build.*
/server.tar.gz
/framework/infra/kafka-connectors/**/target/

# Framework
/env/env.dev

# Generated
/stats.json
/isolate-*.log
*.tsbuildinfo
/capacitor/android/app/src/main/assets/
/app/tests/screenshots/
/app/tests/videos/
/framework/tests/fixtures/auth.json

# OS
.DS_Store
*:Zone.Identifier

# IDE
.idea/
.vscode/

# Misc
.ipynb_checkpoints
.eslintcache
/*.gpg
/*.zip
*.pepk
*.jks
/backups
/temp
/tmp
/tmp.*
/*.dump
/env/
/app/
/capacitor/android/
/capacitor/ios/
/capacitor/resources/
/capacitor/app-store/
