.spinner {
  width: 100%;
  padding: 50px 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadMore {
  min-height: 1px;
}

.msg {
  padding: 1rem $containerPadLeftRight;
  color: $lightTextColor;
  margin-bottom: 0;
}
