.list {
  padding: 0 var(--containerPadLeftRight);
}

.listItem {
  @extend %oneLine;

  padding: 8px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 0;

  svg {
    margin-right: 10px;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
  }

  > div {
    display: flex;
    align-items: center;
  }
}
