.list {
  padding: 0 $containerPadLeftRight;
}

.listItem {
  @extend %oneLine;

  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  min-width: 0;

  svg {
    margin-right: 1rem;
    height: 2.4rem;
    width: 2.4rem;
    flex-shrink: 0;
  }

  > div {
    display: flex;
    align-items: center;
  }
}
