@keyframes fadein {
  from {
    filter: opacity(0%);
  }

  to {
    filter: opacity(100%);
  }
}

.toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 80%;
  background-color: rgba(64, 64, 64, 0.7);
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  z-index: $zIndexToast;
  filter: opacity(0%);
  transition: filter 0.2s;

  &.visible {
    filter: opacity(100%);
    animation: fadein 0.2s;
  }
}
