<!doctype html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="prefetch" href="<%= assetsUrl %>/css/main.css">
  <link rel="prefetch" href="<%= assetsUrl %>/js/main.js">
  <meta http-equiv="refresh" content="0; url=<%= homeUrl %>" />
  <script type="text/javascript">
    window.location.href = '<%= homeUrl %>';
  </script>
</head>
<body></body>
</html>
