.container {
  // "fixed" is needed to prevent .focus() in the stack from scrolling the parent
  // https://stackoverflow.com/q/75419337
  position: fixed;
  top: var(--top-inset-hack, 0px);
  left: 0;
  right: 0;
  height: var(--vh100, 100vh);
  z-index: $zIndexStack;
  background: #fff;
  transform: translateZ(0) translateX(0%);
  touch-action: none;
}
