# Put secrets in .env

# Node
TZ=UTC
NODE_ENV=${NODE_ENV:-development}

# Remote Server
REMOTE_DOMAIN_NAME=example.com
REMOTE_IP=
REMOTE_ROOT_DIR=/var/www/example

# DB
MYSQL_DB=example

## Below will be exposed to client

# Server
SERVER=${SERVER:-development}
DOMAIN_NAME=localhost
PORT=${PORT:-80}
BASE_PATH=

# Build
MOBILE_APP_ID=com.example

# Content
APP_NAME=Example
APP_NAME_LOWER=example
DESCRIPTION=

# APIs
FB_APP_ID=
GA_ID=
SENTRY_DSN=
SENTRY_DSN_SERVER=
