.dropdown {
  @extend %oneLine;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: $zIndexDropdown;
  max-height: calc(var(--vh100, 100vh) * 0.5);
  background-color: #fff;
  border-bottom: 0.5px solid color.mix($primaryColor, $inputBorderColor, $weight: 33%);
  border-bottom-left-radius: $inputBorderRadius;
  border-bottom-right-radius: $inputBorderRadius;
  overflow: hidden;
}

.dropdownInner {
  @extend %hideScrollbar;
  @extend %scrollableY;

  max-height: calc(var(--vh100, 100vh) * 0.5);
}

.option {
  padding: $inputPadding;
  color: $inputColor;
  border-left: 0.5px solid color.mix($primaryColor, $inputBorderColor, $weight: 33%);
  border-right: 0.5px solid color.mix($primaryColor, $inputBorderColor, $weight: 33%);

  &:last-child {
    border-bottom-left-radius: $inputBorderRadius;
    border-bottom-right-radius: $inputBorderRadius;
  }
}

.nullState {
  color: $fadedTextColor;
}
