.btn {
  background-color: $primaryColor;
  transition: background-color 0.2s;
  box-shadow: 0 0 3px rgb(0 0 0 / 30%);
  line-height: normal !important;

  &:active {
    background-color: $activePrimaryColorBg;
  }
}

.small {
  box-shadow: 0 0 2px rgb(0 0 0 / 30%);
}
