%fullWidth {
  width: 100%;
}

%oneLine {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

%label {
  font-size: 0.9em;
  color: $lightTextColor;
}

%maxWidthContainer {
  width: 100%;
  max-width: $containerMaxWidth;
  min-width: $bodyMinWidth;
  margin-left: auto;
  margin-right: auto;
  padding-left: $insetLeft;
  padding-right: $insetRight;
}

%hideScrollbar {
  -ms-overflow-style: none;
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
