%fullWidth {
  width: 100%;
}

// todo: low/mid add component to show full text in tooltip when holding text
// todo: low/mid maybe make ellipsis smaller or use gradient mask
%oneLine {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

%label {
  font-size: 1.4rem;
  font-weight: 500;
}

%maxWidthContainer {
  width: 100%;
  max-width: $containerMaxWidth;
  min-width: $bodyMinWidth;
  margin-left: auto;
  margin-right: auto;
}

%hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
