// Responsive.
$screenXs: 360px;
$screenSm: 480px;
$screenMd: 768px;
$screenLg: 1200px;

// Basics.
$textColor: #333;
$lightTextColor: #666;
$fadedTextColor: #999;

$primaryColor: #2196f3;
$fadedPrimaryColorBg: color.scale($primaryColor, $saturation: -10%, $lightness: 50%);
$fadedPrimaryColorText: color.scale(
  color.mix($primaryColor, $lightTextColor, $weight: 30%),
  $lightness: 15%
);
$linkColor: $primaryColor;

$fontFamily: roboto, helvetica, sans-serif;
$headingFontFamily: roboto, helvetica, sans-serif;

$separatorColor: #eaeaea;
$greyBackgroundColor: #f8f8f8;

$zIndexDropdown: 100;
$zIndexSticky: 200;
$zIndexFixed: 300;
$zIndexSidebar: 400;
$zIndexStack: 500;
$zIndexSlideUp: 600;
$zIndexAlert: 700;
$zIndexToast: 800;

// Inputs.
$inputHeight: 4.2rem;
$inputPadding: 1rem;
$inputBorderColor: #ccc;
$inputBorder: 1px solid $inputBorderColor;
$inputBorderRadius: 4px;
$inputColor: $lightTextColor;
$inputPlaceholderColor: $fadedTextColor;

// Layout.
$bodyMinWidth: 280px;
$bodyMinHeight: 300px;
$containerMaxWidth: $screenLg;
$containerPadLeftRight: 1rem;
$sidebarMinWidth: 250px;
$sidebarMaxWidth: 500px;
$headerHeight: 4.5rem;
$footerHeight: 4.5rem;
