// Responsive.
$screenXs: 360px;
$screenSm: 480px;
$screenMd: 768px;
$screenLg: 900px;

// Basics.
$primaryColor: #2196f3;

// todo: mid/hard dark mode
$textColor: #333;
$lightTextColor: #666;
$fadedTextColor: #999;
$linkColor: $primaryColor;
$fontFamily: 'inter tight', helvetica, sans-serif;
$headingFontFamily: 'inter tight', helvetica, sans-serif;

$separatorColor: #eaeaea;
$greyBackgroundColor: #f8f8f8;
$activeBackgroundColor: #eee;

$lightPrimaryColorBg: color.scale($primaryColor, $saturation: -10%, $lightness: 50%);
$fadedPrimaryColorBg: color.scale($primaryColor, $saturation: -20%, $lightness: 93%);
$fadedPrimaryColorText: color.scale($primaryColor, $saturation: -80%, $lightness: 30%);
$activePrimaryColorBg: color.scale($primaryColor, $lightness: -25%);
$activePrimaryColorBorder: color.scale($primaryColor, $lightness: -25%);

// Z-Index.
$zIndexDropdown: 10;
$zIndexSticky: 20;
$zIndexTooltip: 30;
$zIndexFixed: 40;
$zIndexSidebar: 50;
$zIndexStack: 60;
$zIndexSlideUp: 70;
$zIndexAlert: 80;
$zIndexToast: 90;
$zIndexDebug: 100;

// Inputs.
$inputHeight: 4.2rem;
$inputPadding: 1rem;
$inputBorderColor: #bbb;
$inputBorder: 0.5px solid $inputBorderColor;
$inputBorderRadius: 4px;
$inputColor: $textColor;
$inputPlaceholderColor: $fadedTextColor;

// Layout.
// iOS insets leave too much space
$insetMultiplier: 0.9;
$insetTop: calc(env(safe-area-inset-top, 0px) * $insetMultiplier);
$insetBottom: var(
  --bottom-inset-hack,
  calc(env(safe-area-inset-bottom, 0px) * $insetMultiplier)
);
$insetLeft: calc(env(safe-area-inset-left, 0px) * $insetMultiplier);
$insetRight: calc(env(safe-area-inset-right, 0px) * $insetMultiplier);
$offsetTop: var(--top-inset-hack, 0px);

$bodyMinWidth: 280px;
$bodyMinHeight: 300px;
$containerMaxWidth: $screenLg;
$containerPadding: 1rem; // Horizontal padding
$sidebarMinWidth: 250px;
$sidebarMaxWidth: 500px;
$headerHeight: calc(4.5rem + $insetTop);
$footerHeight: calc(5rem + $insetBottom);
