.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--vh100, 100vh);
  z-index: $zIndexAlert;
  background-color: rgb(94 110 141 / 90%);
  filter: opacity(0);
  transition: filter 0.2s;

  &.visible {
    @include fadeIn(0.2s);

    filter: opacity(100%);
  }
}

.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 80vw;
  background-color: #fff;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  border-radius: 4px;
  text-align: center;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  @include gtMd {
    min-width: 300px;
    max-width: 500px;
    padding: 2rem 3rem;
  }
}

.title {
  font-size: 1.1em;
  flex-shrink: 0;
  margin-bottom: 2rem;
}

.msg {
  color: $lightTextColor;
  overflow: auto;
  overflow-wrap: break-word;
  white-space: pre-line;
  font-size: 0.9em;
  margin-bottom: 2rem;
}

.btns {
  font-weight: 500;
  flex-shrink: 0;
}

.btnSeparator {
  height: 1.5rem;
}
