.container {
  height: 100vh;
  height: var(--vh100, 100vh);
  min-height: $bodyMinHeight;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.topBarWrap,
.bottomBarWrap {
  flex-shrink: 0;
  z-index: $zIndexFixed;
}

.topBarWrap {
  height: $headerHeight;
}

.body {
  @extend %maxWidthContainer;

  flex-grow: 1;
  overflow-y: scroll;
  touch-action: pan-y;
}

.bottomBarWrap {
  height: $footerHeight;
}

.bottomBarInner {
  @extend %maxWidthContainer;

  height: $footerHeight;
  max-height: $footerHeight;
  overflow: hidden;
  box-sizing: content-box;
  border-top: 1px solid $separatorColor;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  touch-action: none;
}
