.container {
  height: $headerHeight;
  max-height: $headerHeight;
  overflow: hidden;
  box-sizing: content-box;
  border-bottom: 1px solid $separatorColor;
  background-color: #fff;
  position: relative;
  touch-action: none;
}

.inner {
  @extend %maxWidthContainer;

  height: $headerHeight;
  padding: 0 $containerPadLeftRight;
  display: flex;
  align-items: stretch;
}

.btnWrap {
  display: flex;
  align-items: center;
  min-width: 1.8rem;
}

.title {
  @extend %oneLine;

  flex-grow: 1;
  padding: 0 math.div($containerPadLeftRight, 2) 0 $containerPadLeftRight;
  height: $headerHeight;
  line-height: $headerHeight;
  font-weight: 500;
}
