.toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 80%;
  background-color: rgb(64 64 64 / 80%);
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  z-index: $zIndexToast;
  filter: opacity(0);
  transition: filter 0.2s;

  &.visible {
    filter: opacity(100%);
    @include fadeIn;

    animation-duration: 0.2s;
  }
}
