.container {
  padding: 1rem $containerPadding;
}

.form {
  margin-bottom: 2rem;
}

.socialWrap {
  margin-top: -1rem;
  margin-bottom: 3rem;
}

.or {
  margin-bottom: 1rem;
  color: $lightTextColor;
  text-align: center;
}
