.container {
  padding: 1rem $containerPadLeftRight;
}

.loggedInMsg {
  margin-bottom: 2rem;

  svg {
    fill: $fadedPrimaryColorBg;
  }
}

.form {
  margin-bottom: 2rem;
}

.hint {
  margin-top: -0.5rem;
  color: $fadedTextColor;
  font-size: 0.9em;
}

.tos {
  padding-top: 1rem;
  color: $fadedTextColor;
  font-size: 0.9em;

  a {
    color: $fadedPrimaryColorText;
  }
}
