.container {
  padding: 1rem $containerPadding;
}

.form {
  margin-bottom: 2rem;
}

.hint {
  margin-top: -0.5rem;
  color: $fadedTextColor;
  font-size: 0.9em;
}

.tos {
  padding-top: 1rem;
  color: $fadedTextColor;
  font-size: 0.9em;
}

.socialWrap {
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.or {
  margin-bottom: 1rem;
  color: $lightTextColor;
  text-align: center;
}
