.container {
  padding: 1rem $containerPadding;
}

.or {
  text-align: center;
  position: relative;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  color: $lightTextColor;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1rem;
    right: 1rem;
    border: 0.5px solid $separatorColor;
  }

  span {
    position: relative;
    padding: 0 1rem;
    background-color: #fff;
  }
}

.hint {
  margin-top: -0.5rem;
  color: $fadedTextColor;
  font-size: 0.9em;
}

.tos {
  color: $fadedTextColor;
  font-size: 0.9em;
}

.loginWrap {
  padding: 0.5rem 0 3rem 0;
}

.appBtn {
  margin-bottom: 1rem;
}
