.container {
  position: fixed;
  top: $headerHeight;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: $bodyMinWidth;
  overflow-y: scroll;
  touch-action: pan-y;
  flex-grow: 1;
}

.withFooter {
  bottom: $headerHeight;
}

.inner {
  @extend %maxWidthContainer;

  min-height: 100%;
}
