.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  filter: opacity(0);
  display: none;
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  touch-action: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80vw;
  min-width: $sidebarMinWidth;
  max-width: $sidebarMaxWidth;
  background-color: #fff;
  overflow-y: auto;
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  touch-action: pan-y;
}
