.btn {
  margin-right: auto;
  padding: 0 $containerPadLeftRight;
  display: flex;
  align-items: center;
  font-weight: 500;
  height: $headerHeight;
  overflow: hidden;
}

.menu {
  height: 2rem;
  width: 2rem;
  fill: $lightTextColor;
  margin-right: $containerPadLeftRight;
  flex-shrink: 0;
}

.title {
  flex-grow: 1;
  font-size: 1.8rem;
}
