.btn {
  margin-right: auto;
  padding: 0 $containerPadLeftRight;
  display: flex;
  align-items: center;
  font-weight: 500;
  overflow: hidden;
}

.menu {
  height: 2rem;
  width: 2rem;
  fill: $fadedTextColor;
  margin-right: $containerPadLeftRight;
  flex-shrink: 0;
}

.title {
  flex-grow: 1;
  font-size: 1.8rem;
}

.chevronSvg {
  fill: $fadedTextColor;
  height: 1.2rem;
  width: 1.2rem;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}
