.container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zIndexFixed;
  background-color: #fff;
  border-top: 1px solid darken($separatorColor, 5%);
  height: $headerHeight;
}

.containerInner {
  @extend %maxWidthContainer;

  display: flex;
  justify-content: space-evenly;
}

.tabIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $containerPadLeftRight;
  height: $headerHeight;
  border: 0.2rem;
  flex-basis: 0;
  flex-grow: 1;

  svg {
    height: 2.6rem;
    width: 2.6rem;
    fill: $fadedTextColor;
    transition: all 0.2s;
  }
}

.tabActive {
  border: 0;

  svg {
    height: 3rem;
    width: 3rem;
    fill: #000;
  }
}
