.wrap {
  @extend %label;

  margin-bottom: 1.5rem;
}

.labelWrap {
  display: flex;
  align-items: center;
}

.radioWrap {
  display: none;
  position: relative;
  height: 1em;
  width: 1em;

  svg {
    height: 1em;
    width: 1em;
    fill: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }

  .svgInner {
    transform: scale(0);
    transition: transform 150ms cubic-bezier(0.4, 0, 1, 1) 0ms;
  }

  .input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 1em;
    width: 1em;
  }
}

.checked {
  svg {
    fill: $primaryColor;
  }

  .svgInner {
    transform: scale(1);
  }
}

.label {
  display: inline-block;
}

.radioShown {
  .radioWrap {
    display: inline-block;
  }

  .label {
    padding-left: 0.5rem;
  }
}
