.inputWrap {
  display: block;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.labelWrap {
  padding-top: 2.5rem;
  position: relative;
}

.label {
  @extend %label;

  display: inline-block;
  position: absolute;
  top: 0;
}

.textarea {
  min-height: $inputHeight * 2;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  padding: $inputPadding;
  background: #fff;
  color: $inputColor;
  border: $inputBorder;
  border-radius: $inputBorderRadius;
  outline: none;

  &:focus {
    border-color: mix($primaryColor, $inputBorderColor, $weight: 33%);
  }

  &[disabled] {
    color: $fadedTextColor;
  }

  @include placeholder {
    font-weight: 300;
    color: $inputPlaceholderColor;
  }
}
