// Vendors
@import 'normalize.css/normalize.css';

@import './imports/cssVariables';
@import './imports/keyframes';
@import './imports/elements';

:global(#react) {
  visibility: visible;
  min-height: var(--vh100, 100vh);
  max-height: var(--vh100, 100vh);
  min-width: 100vw;
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}
