.visibilityDiv {
  width: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  transform: translateY(-50%);
}

.btn {
  position: fixed;
  right: $containerPadding;
  z-index: $zIndexFixed;
  background-color: $primaryColor;
  border-radius: 50%;
  padding: 1.2rem;
  box-shadow: 0 0 3px rgb(0 0 0 / 30%);

  @include gtLg {
    right: calc((100vw - $containerMaxWidth) / 2 + $containerPadding);
  }

  &.fromTop {
    top: calc(#{$headerHeight} + #{$offsetTop} + 1rem);
  }

  &.fromBottom {
    top: calc(var(--vh100, 100vh) - #{$footerHeight} + #{$offsetTop} - 1rem);
    transform: translateY(-100%);
  }

  &:active {
    background-color: $activePrimaryColorBg;
  }

  svg {
    display: block;
    height: 2rem;
    width: 2rem;
    fill: #fff;
  }
}
