.container {
  padding: 5rem $containerPadding 7rem $containerPadding;
  overflow: hidden;
  text-align: center;
  width: 100%;
  background-color: #fff;

  @include gtLg {
    min-height: auto;
  }
}

.title {
  margin-bottom: 2rem;
}

.link {
  color: $primaryColor;
}

.btns {
  margin-top: 2.5rem;
}
