.tabs {
  display: flex;
  flex-shrink: 0;
}

.tab {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  padding: 1rem 2px;
  border-bottom: 0.5px solid #aaa;
  color: $fadedTextColor;
  white-space: nowrap;
  outline: none;
}

.tabActive {
  color: $textColor;
  border-bottom: 2px solid $primaryColor;
}
