.container {
  @include fadeIn(0.2s);

  padding-top: $headerHeight;
  padding-bottom: $footerHeight;
  height: var(--vh100, 100vh);
  min-height: $bodyMinHeight;
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  content-visibility: auto;
}

.greyBackground {
  background-color: $greyBackgroundColor;
}

.swipeable {
  // Just pan-y prevents L shaped gestures
  //   https://github.com/w3c/pointerevents/issues/303#issuecomment-530459317
  touch-action: pan-x pan-y;
  // Note: scroll instead of auto to prevent width from changing
  overflow: hidden scroll;
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  overscroll-behavior-y: contain;
  height: 100%;
}

.inactiveRoute {
  touch-action: none;
  pointer-events: none;
}

.inner {
  @extend %maxWidthContainer;

  transform: translateZ(0);
  padding-bottom: 1px; // Collapse child margins
}
