.header {
  position: fixed;
  top: $offsetTop;
  left: 0;
  right: 0;
  z-index: $zIndexFixed;
  height: calc($headerHeight - $insetTop);
  padding-top: calc($insetTop);
  box-sizing: content-box;
  background-color: #fff;
}

.headerInner {
  @extend %maxWidthContainer;

  height: calc($headerHeight - $insetTop);
  border-bottom: 0.5px solid #f8f8f8;
  display: flex;
  align-items: stretch;
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  content-visibility: auto;
}
