.header {
  position: fixed;
  top: $offsetTop;
  left: 0;
  right: 0;
  z-index: $zIndexFixed;
  height: calc($headerHeight - $insetTop);
  padding-top: calc($insetTop);
  box-sizing: content-box;
  background-color: #fff;
}

.headerInner {
  @extend %maxWidthContainer;

  height: calc($headerHeight - $insetTop);
  display: flex;
  align-items: stretch;
}
