.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--vh100, 100vh);
  z-index: $zIndexSidebar;
  padding-top: $insetTop;
  padding-bottom: $insetBottom;
  background-color: rgb(0 0 0 / 70%);
  display: none;
  touch-action: none;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--vh100, 100vh);
  z-index: $zIndexSidebar;
  width: 80vw;
  min-width: $sidebarMinWidth;
  max-width: $sidebarMaxWidth;
  background-color: #fff;
  overflow: hidden;
  touch-action: none;
}
