.footer {
  position: fixed;
  top: calc(var(--vh100, 100vh) - #{$footerHeight} + #{$offsetTop});
  left: 0;
  right: 0;
  z-index: $zIndexFixed;
  height: calc($footerHeight - $insetBottom);
  padding-bottom: calc($insetBottom);
  background-color: #fff;
  border-top: 0.5px solid $separatorColor;
  box-sizing: content-box;
}

.footerInner {
  @extend %maxWidthContainer;

  height: calc($footerHeight - $insetBottom);
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}
