.container {
  padding-top: $headerHeight;
  padding-bottom: $footerHeight;
  height: var(--vh100, 100vh);
  min-height: $bodyMinHeight;
}

.greyBackground {
  background-color: $greyBackgroundColor;
}

.swipeable {
  // Just pan-y prevents L shaped gestures
  //   https://github.com/w3c/pointerevents/issues/303#issuecomment-530459317
  touch-action: pan-x pan-y;
  // Note: scroll instead of auto to prevent width from changing
  overflow-y: scroll;
  height: 100%;
}

.inner {
  @extend %maxWidthContainer;

  transform: translateZ(0);
}
